@media (max-width:480px){

  section .row{
    flex-direction: column;
    align-items: center;
  }

  section.lessons .col,
  section.steps .col,
  section.why-us .col-left,
  section.why-us .col-right{
    width: 100%;
    margin-bottom: 70px;
  }

  section.lessons .col:last-child,
  section.steps .col:last-child{
    margin-bottom: 0px;
  }

  section .lessons .col img{
    height: 100%;
  }

}